{% load static %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>Bible Quiz</title>

        <link rel="stylesheet" href="{% static 'vendor/bootstrap/4/css/bootstrap.min.css' %}">
        <link rel="stylesheet" href="{% static 'vendor/fontawesome/5/css/all.min.css' %}" />

        <link rel="stylesheet" href="{% static 'css/style.css' %}" />

    </head>
    <body>

        <div id="content" class="container-fluid">
            <div class="h-100 row align-items-center justify-content-center">
                <div class="col-md-6 col-lg-4 text-center">
                    <div class="card">
                        <div class="card-body">
                            <img class="img-fluid mb-4" src="{% static 'img/sda_big.png' %}" alt="">
                            <h1>Bible Quiz</h1>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <script src="{% static 'vendor/jquery/jquery-3.3.1.min.js' %}"></script>
        <script src="{% static 'vendor/bootstrap/4/js/bootstrap.bundle.min.js' %}"></script>
    </body>
</html>
